<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <%- include('../property/header') %>

  <body style="background-color: rgb(159, 152, 141);">
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4" style="margin-top: 5vh;" >
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.472);
              backdrop-filter: blur(30px);
              border-radius: 30px;
              ">

            

            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Add New User</h2>

              <h5>User as:</h5>
              <form action="/addUser" method="POST">
                <!-- 2 column grid layout with text inputs for the first and last names
                <form class="">
                  <div class="btn-group btn-group-toggle col-md-6 mb-4" data-toggle="buttons">
                    <label class="btn btn-light">
                      <input type="radio" name="options" id="option1" autocomplete="off"> Admin
                    </label>
                    <label class="btn btn-light">
                      <input type="radio" name="options" id="option2" autocomplete="off"> User
                    </label>
                  </div> -->

                  <% let roleOptions = ["Admin", "User"] %>
                  <% roleOptions.forEach(element => { %>
                      <div class="form-check">
                        <label for="" class="">
                            <input class="form-check-input" type="radio" value="<%= element %>" name="role" id="flexRadioDefault2">
                            <%= element %>
                        </label>
                      <label class="form-check-label"></label>
                  </div>
                  <% }) %>

                
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="form3Example3" class="form-control" placeholder="Email address" style="text-align: center;"/>
                    <label class="form-label" for="form3Example3"></label>
                  </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form3Example4" class="form-control" placeholder="Password" style="text-align: center;"/>
                    <label class="form-label" for="form3Example4"></label>
                  </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-dark mb-4" >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?auto=format&fit=crop&q=80&w=2880&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>